@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

body {
  margin: 0;
  min-height: 100dvh;
  font-family: "EB Garamond", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  background: var(--red);
  background: linear-gradient(to bottom right, var(--red) 60%, var(--light-red) 100%);

  --footer-height: 0rem;
  --header-height: 0rem;
  --main-height: calc(100dvh - var(--footer-height) - var(--header-height));

  --shadow: 0px 0px 8px 4px rgba(0, 0, 0, .4);
  --shadow-inset: inset var(--shadow);

  --background-gradient: linear-gradiant(to bottom right (238, 46, 46) 75%, white);

  --red: rgb(158, 37, 37);
  --light-red: rgb(201, 112, 112);

  --glow-green: rgb(136, 173, 139);
  --light-green: rgb(80, 117, 80);
  --green: rgb(38, 122, 37);

  --gold: rgb(206, 178, 77);
  --goldhex: #ceb24d;

}

button {
  background-color: var(--gold);
  border-radius: .3rem;
  font-weight: 600;
  font-size: 1rem;
  padding: .2rem .5rem;
  outline: solid 1px white;
  border: none;
  cursor: pointer;
  transition: all .3s ease-in;
  box-shadow: var(--shadow);
  min-width: 12rem;
  color: white;
}

button:hover {
  background-color: var(--red);
  scale: 0.95;
  border-radius: .2rem;
  transition: all .5s ease-out;
  outline: solid 1px rgba(255,255,255,.75);
  box-shadow: var(--shadow-inset);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

a:has(button) {
  text-decoration: none;
  color: white;
}

a {
  font-size: 1.2rem;
  color: black;
}

a:hover {
  color: var(--gold);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  outline: solid 2px var(--gold);
  box-shadow: var(--shadow);
}

input {
  --padding: .8rem;
  border-radius: .2rem;
  outline: solid 2px var(--gold);
  border: none;
  padding: var(--padding);
  background-color: rgba(255,255,255,.5);
  box-shadow: var(--shadow);
  width: calc(12rem - calc(var(--padding) * 2));
  background-color: rgba(255,255,255,.25);
}

input::placeholder {
  color: rgba(255, 255, 255, 0.75);
  font-weight: 500;
  font-size: .9rem;
}

.card {
  display:flex;
  background: rgba(255,255,255,0.1);
  /* background: linear-gradient(145deg, rgba(255,255,255,0.25) 26%, rgba(255,255,255,0.5) 38%, rgba(255,255,255,0.75) 55%, rgba(255,255,255,0.4) 66%, rgba(255,255,255,0.4) 100%); */
  background: linear-gradient(to bottom right, rgba(255,255,255,0.1), rgba(255,255,255,0.75) );
  backdrop-filter: blur(2px);
  padding: 2rem;
  border-radius: 1rem;
  border: solid 1px rgba(255,255,255,0.1);
  box-shadow: var(--shadow);
  transition: all 1s ease;
}