.page {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header {
  height: var(--header-height);
}

.main {
  min-height: var(--main-height);
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.footer {
  height: var(--footer-height);
}

.content {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center
}

.button_link {
  margin-top: 2rem;
  width: 90%;
}

.start_button {
  width: 100%;
}