.page {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login_form > *:not(:first-child):not(.login_form_submit) {
    margin-top: .5rem;
}

.login_form_submit {
    margin-top: 1rem;
}

.error {
    color: red;
    font-weight: bold;
}